# --- IDE Specific ---
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# --- Build Artifacts ---
target/
build/
out/
*.class
*.jar
*.war

# --- OS System Junk ---
.DS_Store
Thumbs.db

# --- Secrets ---
.env
*.key
secrets.properties

# --- Logs & Crash Reports ---
*.log
hs_err_pid*

# --- OTHER ---
db-starter-script.sql
AGENTS.md



.current_feature.txt
